#app-box{
  margin-top: 8px;
}
#inner-app-box{
  height: 939px;
}
#game-box{
  min-width:360px;
}
#result-box{
  flex: 1 1 344px;
  margin-left: 8px;
  margin-right: 8px;
}
#form-div{
  margin-top: 85px;
}
#honeycomb{
  min-height: 400px;
}
#table-div{
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-top: 80px;
  border-radius: 0rem;
}
#inner-table-div{
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#inner-inner-table-div{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
}
#rank-div{
  height: 10%;
}
#p-bar{
  width: 0%;
}
#inner-results-box{
  height: 90%;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
}

.hex{
  color: #FFEA40;
  font-size: 135px;
  /* background-color: #fff0; */
  /* float: left; */
  /* margin-right: -26px;
  margin-bottom: -114px; */
  font-family: unset;
}
.hex-center{
  color:#FFC107;
}

.hex-parent{
  display: grid;
  place-items: center;
  position: relative;
  margin-left: -17px;
  margin-bottom: -127px;
  /* // used unset below because .hex-parent was inheritting form row in bootstrap */
  flex-shrink: unset;
  width: unset;
  max-width: unset;
  padding-right: unset;
  padding-left: unset;
  margin-top: unset;
}
.letter-btn{
  position: absolute;
  font-size: 55px;
  height: 82px;
  width: 70px;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 46%;
  margin-top: -30px;
  background-color: #fff0;
  outline: none;
  border: none;
  z-index: 99;
}
.form-control-updated{
  display: block;
  width: 100%;
  font-size: 40px;
  color: #000000;
  background-color: #fff;
  border: none;
  text-align: center;
}
.column{
  width: 20px;
}
.table td, .table th{
  padding: 0rem;
}
.table-borderless th, .table-borderless thead th {
  border: 0;
  width: 44px;
  text-align: center;
}

.table tr {
  text-align: center;
}

.bg-light{
  /* display:none; */
}

.word-def{
  display:none;
}

.bw-word-card-div{
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.bw-word-card-div{
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.bw-card-title{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bw-delete-btn{
  min-width: 90px;
  width: 0%;
}
.bw-shuffle-btn{
  min-width: 40px;
  margin-left: 8px;
  margin-right: 8px;
  width: 0%;
}
.bw-enter-btn{
  min-width: 90px;
  margin-right: 17px;
  width: 0%;
}
.shuf-sign{
  margin-left: -1px;
}
.short-def{
  display: none;
}
